<h2>Parcel Created</h2>
<p>A parcel has just been created with the following details:</p>
<ul>
  <li>Pickup: {{pickupLocation}}</li>
  <li>Destination: {{destination}}</li>
  <li>Weight: {{weight}} kg</li>
  <li>Cost: KES {{cost}}</li>
</ul>
